/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();
@font-face {
    font-family: lgc;
    src: url('/assets/fonts/Louis\ George\ Cafe.ttf');
}

html,body{
    margin:0;
    padding:0;
    width:100vw;
    height:100%;
    font-family: lgc,arial;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pagina{
    width:83vw;
    height: 100vh;
    position: absolute;
    top:0;
    right:0;
}

