<section class="nav">
    <header>
        <img src="assets/img/logo.png">
    </header>
    <nav>
        <a routerLink="/home">Home</a>
        <details>
            <summary>Administração</summary>
            <div>
                <a routerLink="/cadUsuario">Usuário</a>
                <a>Material</a>
                <a>Produto</a>
            </div>
        </details>
        <details>
            <summary>Pomar</summary>
            <div>
                <a>Cadastro</a>
                <a>Movimento</a>
                <a>Colheita</a>
            </div>
        </details>
    </nav>
    <footer>
        <a>Sair</a>
    </footer>
</section>
